
@{
    ViewBag.Title = "Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Livros</h2>

<div class="mt-5" id="BooksList">

    <div class="row book-item" book-id="01">

        <div class="col-md-9">
            <h5>Nome do Livro</h5>
            <p>Autor</p>
        </div>

        <div class="col-md-3 mt-2">
            <button type="button" class="btn btn-outline-info float-right">Ver Detalhes</button>
            <button type="button" class="btn btn-primary float-right mr-2 px-3">Alugar</button>

        </div>
    </div>


    <div class="row book-item">

        <div class="col-md-9">
            <h5>Nome do Livro</h5>
            <p>Autor</p>
        </div>

        <div class="col-md-3 mt-2">
            <button type="button" class="btn btn-outline-info float-right">Ver Detalhes</button>
            <button type="button" class="btn btn-primary float-right mr-2 px-3">Alugar</button>
        </div>
    </div>

    <div class="row book-item">

        <div class="col-md-9">
            <h5>Nome do Livro</h5>
            <p>Autor</p>
        </div>

        <div class="col-md-3 mt-2">
            <button type="button" class="btn btn-outline-info float-right">Ver Detalhes</button>
            <button type="button" class="btn btn-primary float-right mr-2 px-3">Alugar</button>
        </div>
    </div>

    <div class="row book-item">

        <div class="col-md-9">
            <h5>Nome do Livro</h5>
            <p>Autor</p>
        </div>

        <div class="col-md-3 mt-2">
            <button type="button" class="btn btn-outline-info float-right">Ver Detalhes</button>
            <button type="button" class="btn btn-primary float-right mr-2 px-3">Alugar</button>
        </div>
    </div>

    <div class="row book-item">

        <div class="col-md-9">
            <h5>Nome do Livro</h5>
            <p>Autor</p>
        </div>

        <div class="col-md-3 mt-2">
            <button type="button" class="btn btn-outline-info float-right">Ver Detalhes</button>
            <button type="button" class="btn btn-primary float-right mr-2 px-3">Alugar</button>
        </div>
    </div>

    <div class="row book-item">

        <div class="col-md-9">
            <h5>Nome do Livro</h5>
            <p>Autor</p>
        </div>

        <div class="col-md-3 mt-2">
            <button type="button" class="btn btn-outline-info float-right">Ver Detalhes</button>
            <button type="button" class="btn btn-primary float-right mr-2 px-3">Alugar</button>
        </div>
    </div>

    <div class="row book-item">

        <div class="col-md-9">
            <h5>Nome do Livro</h5>
            <p>Autor</p>
        </div>

        <div class="col-md-3 mt-2">
            <button type="button" class="btn btn-outline-info float-right">Ver Detalhes</button>
            <button type="button" class="btn btn-primary float-right mr-2 px-3">Alugar</button>
        </div>
    </div>

</div>

<style>
    .book-item{
        margin-top: 30px;
        border-bottom: 1px solid gray;
    }
</style>



