
@{
    ViewBag.Title = "Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Content/js/pages/books.js")"></script>
}

<div class="row">

    <div class="col-md-9">
        <h2>Livros</h2>
    </div>

    <div class="col-md-3">
        <div class="btn-group">
            <input type="text" class="form-control" placeholder="Buscar livros" id="SearchInput" />
            <button type="button" class="btn btn-warning" id="SearchButton" disabled="disabled"><i class="fas fa-search" style="color: white;"></i></button>
        </div>

    </div>

</div>



<div class="mt-5 mb-5" id="BooksList">

    <div class="row book-item" book-id="01">
        <div class="col-md-1">
            <photo class="shine" style="width: 80px;"></photo>
        </div>
        <div class="col-md-11">
            <div class="row mt-4">
                <div class="col-md-9">
                    <h5>
                        <small id="BookAuthor"><lines class="shine"></lines></small>
                        <span id="BookTitle"><lines class="shine h"></lines></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row book-item" book-id="01">
        <div class="col-md-1">
            <photo class="shine" style="width: 80px;"></photo>
        </div>
        <div class="col-md-11">
            <div class="row mt-4">
                <div class="col-md-9">
                    <h5>
                        <small id="BookAuthor"><lines class="shine"></lines></small>
                        <span id="BookTitle"><lines class="shine h"></lines></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row book-item" book-id="01">
        <div class="col-md-1">
            <photo class="shine" style="width: 80px;"></photo>
        </div>
        <div class="col-md-11">
            <div class="row mt-4">
                <div class="col-md-9">
                    <h5>
                        <small id="BookAuthor"><lines class="shine"></lines></small>
                        <span id="BookTitle"><lines class="shine h"></lines></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>


</div>

<style>
</style>



