body {
    padding-top: 4.5rem;
}


label {
    font-weight: bold;
    margin-bottom: 0px;
}

#BookAuthor {
    display: block;
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: 100;
    color: gray;
}

#BookCover {
    width: 100%;
}

.book-item {
    padding-bottom: 20px;
    padding-top: 30px;
    border-bottom: 1px solid rgb(220,220,220);
    ;
    transition-duration: .4s;
}

    .book-item:hover {
        background-color: rgb(230,230,230);
    }

    .book-item h5 small {
        display: block;
        font-size: 14px;
        margin-bottom: 2px;
        font-weight: 100;
        color: gray;
    }

    .book-item img {
        width: 100%;
    }






.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}



box {
    height: 104px;
    width: 100px;
}


lines {
    height: 10px;
    margin-top: 10px;
    width: 200px;
}

    lines.shine.h {
        height: 40px;
        width: 100% !important;
    }


    lines.shine.l {
        height: 10px;
        width: 100% !important;
    }

photo {
    display: block !important;
    width: 325px;
    height: 100%;
    margin-top: 15px;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: spinner .6s linear infinite;
}


footer p{
    margin-left: 30px;
}